{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
  <div class="row">
    <div class="col-md-12">
      {{ utils.flashed_messages(messages) }}
    </div>
  </div>
  {% endif %}
  {% endwith %}
  <div class="jumbotron">
    <h1>Exercise complete</h1>
    <p>Please clean up any CloudFoundry resources you've used or created.</p>
  </div>
</div>
{% endblock %}
